<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 text-center ">
                <h6>About</h6>
                <p class="about-text">
                    Explore Bharat is a platform dedicated to promoting tourism and cultural exploration across
                    India. Our mission is to provide travelers with comprehensive information and resources to
                    discover the rich heritage, diverse landscapes, and vibrant cultures of Bharat (India).
                </p>
            </div>

            <div class="col-xs-6 col-md-3 text-center ">
                <h6>USEFUL LINKS</h6>
                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about_india">About Inida</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                    <li><a href="/inquiry">Inquiry</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3 text-center ">
                <h6>States</h6>
                <ul class="footer-links">
                    <li><a href="explore_by_states/Gujarat/gujarat.html" target="_self">Gujarat</a></li>
                    <li><a href="explore_by_states/Rajasthan/rajasthan.html" target="_self">Rajasthan</a></li>
                    <li><a href="explore_by_states/Kashmir/kashmir.html" target="_self">Kashmir</a></li>
                    <li><a href="explore_by_states/Goa/goa.html" target="_self">Goa</a></li>
                    <li><a href="explore_by_states/UttarPradesh/uttar_pradesh.html" target="_self">UttarPradesh</a></li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    &copy; <%= new Date().getFullYear() %> Explore Bharat. All rights reserved.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li><a class="whatsapp" href="whatsapp.com"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a class="instagram" href="instagram.com"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>